/*------------------------------------*\
    #ICON-MODULE
\*------------------------------------*/

/**
 * Styling for the Alpha series icon modules.
 * Note that the "module" component can only be imported once, so importing it
 * in multiple files does not cause duplication.
 **/


/*a*/.#{$sagovau-namespace}icon-module--internal {

    border-bottom-width: 1px;

    &.icon-module--index-0 {
        border-top-width: 0;
    }

    @include media-query(large-and-up) {
        padding-bottom: 22.5%;
    }

}
