
        <!-- jQuery -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <!-- End jQuery -->


        <!-- Progressive enhancement -->

        <script src="http://www.environment.sa.gov.au/files/templates/00000000-0000-0000-0000-000000000000/f88a7f3c-df7e-430a-825c-24cfa8dec9a8/s3-enhance-d2bad55bd7.js" type="text/javascript"></script>

        <!-- End progressive enhancement -->
