<ul class="layout">

    {{#iconModules}}

        <li class="layout__item">

            <a class="icon-module  icon-module--internal  icon-module--index-{{ index }}{{ class }}" href="{{ href }}">

                <h2 class="icon-module__title">{{ title }}</h2>

            </a><!-- /.icon-module -->

        </li><!-- /.layout__item -->

    {{/iconModules}}

</ul>
