/*------------------------------------*\
    #STAFF-PROFILE
\*------------------------------------*/


/*div*/.#{$sagovau-namespace}staff-profile__image {
    margin-bottom: $sagovau-spacing-unit-base;

    @include media-query(large-and-up) {
        float: left;
        margin-bottom: $sagovau-spacing-unit-base / 2;
        margin-right: $sagovau-spacing-unit-base;
        width: 20%;
    }

}

/*div*/.#{$sagovau-namespace}staff-profile__position {

    font-weight: bolder;
    margin-top: -$sagovau-spacing-unit-base;
    margin-bottom: $sagovau-spacing-unit-base;

}
