/*------------------------------------*\
    #COVER-MODULE
\*------------------------------------*/

// Make sure the "module" extend-only component is included before this content.

@import "dewnr-series-three/sass/components.module";


/*a*/.#{$sagovau-namespace}cover-module {
    @extend %#{$sagovau-namespace}module;

    &:focus,
    &:hover {
        text-decoration: none;
    }

    @include media-query(large-and-up) {
        margin-bottom: $sagovau-spacing-unit-base;
    }

}

    /*div*/.#{$sagovau-namespace}cover-module__image {


    }

    /*h2*/.#{$sagovau-namespace}cover-module__title {
        @extend %#{$sagovau-namespace}module__title;
        text-decoration: none;

        /*a*/.#{$sagovau-namespace}cover-module:focus & ,
        /*a*/.#{$sagovau-namespace}cover-module:hover & {
            text-decoration: underline;
        }

        @include media-query(large-and-up) {
            background-color: #000;  // Fallback for non-RGBA browsers
            background-color: rgba(0, 0, 0, 0.7);
            border-bottom-style: none;
            bottom: 0;
            color: $sagovau-color-text-reverse;
            left: 0;
            padding: $sagovau-spacing-unit-base--small;
            position: absolute;
            width: 100%;
        }
    }
