/*------------------------------------*\
    #SLIDER
\*------------------------------------*/

@import 'dewnr-series-three/src/stylesheets/components.slider';


/*div*/.#{$sagovau-namespace}slider {
    margin: -$sagovau-spacing-unit-base;

    @include media-query(large-and-up) {
        margin-bottom: $sagovau-spacing-unit-base;
    }
}

/*div*/.#{$sagovau-namespace}spotlight__text {
    @include media-query(huge) {
        width: 550px;
        padding-right: 0;

        p {
            padding-right: 100px;
        }
    }
}

/*div*/.#{$sagovau-namespace}spotlight__header {
    @include media-query(huge) {
        padding-right: 190px;
    }
}